div.MyGames {
    padding: 10px;
    width: 100%;
    animation-duration: 0.05s;
    animation-delay: 0s;
    animation-direction: normal;
    animation-iteration-count: 1;
}
div.MyGames div.my-games-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

}
div.MyGames div.game-listing {
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    padding: 10px 0px 10px 0px;
    width: 100%;
}
div.MyGames div.game-listing>div {
    margin-right: 20px;
    padding: 3px 0px 3px 0px;
}
div.game-listing-header>div {
    font-size: 20px;
    font-weight: bold;
}
div.MyGames div.game-listing:last-child {
    border-bottom: none;
}
div.MyGames div.game-listing div.game-name {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
div.MyGames div.game-listing div.game-description {
    width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
div.MyGames div.game-listing div.created-on {
}
