/* Room Styles */

div.EditMap div.room {
    display: flex;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
}
div.EditMap div.inactiveroom {
    border: 1px solid lightgray;
    opacity: .5;
}
div.EditMap div.room div.room-label {
    color: black;
    padding: 5px;
    overflow: hidden;
    text-align: center;
}
div.EditMap div.inactiveroom:hover {
    background-color: lightgray;
    cursor: pointer;
}
div.EditMap div.activeroom {
    /* border: 1px solid white; */
    background-color: lightgray;
}
div.EditMap div.activeroom:hover {
    background-color: white;
    cursor: pointer;
}