div.EditDetails {
    padding: 10px;
}

div.EditDetails h2 {
    margin-bottom: 10px;
}

div.edit-fields {
    display: grid;
    grid-template-columns: 200px 410px 50px;
    align-items: top;
}

div.edit-fields>div {
    padding-top: 15px;
    padding-bottom: 15px;
}

div.edit-fields div.edit-name-field>div {
    display: flex;
    align-items: center;
    font-size: 16px;
    background-color: rgb(50, 50, 50);
    border: 1px solid white;
    color: white;
    padding-left: 3px;
    padding-top: 1px;
    border-radius: 5px;
    width: 400px;
    height: 22px;
    cursor: default;
}

div.edit-fields div.edit-description-field>div {
    font-size: 16px;
    background-color: rgb(50, 50, 50);
    border: 1px solid white;
    color: white;
    padding-left: 2px;
    padding-top: 5px;
    border-radius: 5px;
    width: 400px;
    height: 200px;
    cursor: default;
    line-height: 20px;
}

div.edit-fields div.edit-description-field>textarea {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    background-color: lightgray;
    outline: 0;
    border-radius: 5px;
    width: 400px;
    height: 198px;
}

div.edit-fields div.edit-name-field input {
    width: 400px;
}

div.edit-fields select {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    background-color: lightgray;
    outline: 0;
    border-radius: 5px;
    width: 70px;
}

div.edit-buttons>button {
    margin-right: 10px;
}

.fas {
    cursor: pointer
}