@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body {
  font-family: 'Roboto Mono', monospace;
  background-color: black;
  color: white;
}

.App {
}

.App div.main-holder {
  display: flex;
}

h1 {font-size: 48px}
h2 {font-size: 36px}
h3 {font-size: 28px}
h4 {font-size: 22px}
h5 {font-size: 18px}

button {
  font-family: 'Roboto Mono', monospace;
  background-color: lightgray;
  color: black;
  border-radius: 5px;
  border: none;
  font-size: 14px
}
button:hover {
  background-color: white;
  cursor: pointer;
}
a.button-link {
  font-family: 'Roboto Mono', monospace;
  background-color: lightgray;
  color: black;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}
a.button-link:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
input {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  background-color: lightgray;
  height: 22px;
  outline: 0;
  border-radius: 5px;
  width: 220px;
}
input:focus {
  background-color: white;
}
a {
  color: lightgray;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: none;
}